.site__header{
  top: 10px;
  padding-left:10px;
  padding-right:10px;
}
.menu__button{
    color: rgb(243, 243, 104) !important;
}
.menu__button:focus,
.menu__button:hover{
    color: var(--text-color);
    box-shadow: unset;
}

.menu__button svg{
    width:2em;
    height:2em;
    fill: var(--text-color);
    color: var(--text-color);
}
.nav_ac1 {
    padding:5px 15px;

    margin:0;
    border:unset;
    font-size: 1.25rem;
    color:var(--text-color);
    line-height: 2;
    height:50px;
    font-weight:700;
    z-index: 100;
}
.nav_ac2 {
    padding:5px 15px;
    margin:0;
    border:unset;
    font-size: 1.25rem;
    color: rgb(243, 243, 104) !important;
    background: #000;
    line-height: 2;
    height:50px;
    font-weight:700;
    z-index: 100;
}
.nav_ac:hover{
    color: rgb(243, 243, 104) !important;
}

.br-top,.br-bottom,.br-right,.br-left{
    position:fixed;
    z-index:999999;
    background:#fff;
}
.br-top{
    top:0;
    height:10px;
    left:0;
    width:100%;
}
.br-bottom{
    bottom:0;
    height:10px;
    left:0;
    width:100%;  
}
.br-left{
    top:0;
    height:100%;
    left:0;
    width:10px;  
}
.br-right{
    bottom:0;
    height:100%;
    right:0;
    width:10px;  
}

.site__navigation{
    height:100%;
    left:0;
    overflow: hidden;
    position: fixed;
    top:0;
    width:100%;
    visibility: hidden;
}
.menu_opend {
    visibility: visible !important;
}
.bg__menu {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:var(--primary-color);
    will-change: transform;
    transform: translateY(-100%);
    transition: all 1s ease;
}
.menu_opend .bg__menu {
    transform: translateY(0);
}
.menu_wrapper {
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden auto;
}
.the_menu {
    padding-top: 20vh;
    padding-bottom:20vh;
    padding-left:0;
}
.the_menu .menu_item > a {
    color: rgb(243, 243, 104) !important;
    line-height: 1;
    font-size:2rem;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
    padding: 4px 0px;
    text-decoration: none;
}
.the_menu .menu_item>a:hover{
    color: rgb(243, 243, 104) !important;
}
.menu__footer{
   bottom:0;
   font-size:14px;
   background: var(--primary-color);
}
.menu__footer a{
    color: rgb(243, 243, 104) !important;
    margin-right: 10px;
    text-decoration: none;
}
@media (min-width: 992px) {
    .menu__container{
        margin-left: 33.33333%;
    }
    .the_menu{
        padding-top:10vh;
        padding-bottom:10vh;
    }
}
@media (min-width: 768px) {
   .the_menu .menu_item>a{
    font-size:4vw;
   }
}



.top-right-nav > span {
    font-size: 35px;
    padding: 0;
    margin-right: 14px;
    color: rgb(243, 243, 104) !important;
}
.top-right-nav > span:hover {
    font-size: 35px;
    padding: 0;
    margin-right: 14px;
    color: rgb(243, 243, 104) !important;
}

.copyright {
    font-size: 20px;
    margin-left: 35px;
    padding-left: 15px;
    color: rgb(243, 243, 104) !important;
}